<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hall Monitor</title>
    <meta property="theme-color" content="#5988ff">
    <meta property="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="SIBR">
    <meta property="twitter:title" content="The Hall Monitor">
    <meta property="og:title" content="The Hall Monitor">
    <meta property="twitter:description" content="{{text}}">
    <meta property="og:description" content="{{text}}">
    <meta property="description" content="{{text}}">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap">
    <script src="index.js"></script>
</head>
<body>
    <div class="content {{type}}">
        <img class="floaty {{type}}" {%unless text%}onload="setText()"{%endunless%} src="{{src}}" title="{{title}}" alt="{{alt}}">
        <p class="text {{type}}">{{text}}</p>
    </div>
</body>
</html>
